body{
background-color: black;
  color: white;
  margin: 0;
  font-family: sans-serif;
}

main{
    text-align: center;
}

header{
    text-align: center;
}

#scene-container{
    background-color:black;
    width: 80vw;
    height: 800px;
    margin: 0 auto;
}